%% Karajan Configuration File
[

    %% Configure Karajan.
    {karajan, []},

    %% Configure the OSC server/dispatcher.
    {tosca, [

        %% The incoming OSC port.
        {incoming_port, 7000},

        %% The outgoing OSC port.
        {outgoing_port, 7124},

        %% OSC handler module.
        {handler, broadcast}

    ]}
].
